<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Kitten Club" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kitten.only-fans.club/" />
    <meta property="og:description" content="Cool pictures of the kitten Binky (^-^*)" />
    <meta name="theme-color" content="#e4dbd1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>Kitten Club</title>
</head>
<body class="gone">
	<h1>Cool pictures of the kitten Binky:</h1>
    <div class="grid">
	    <%- content %>
    </div>
</body>
</html>